<h1>Cosm Demo App</h1>
<p>
This demo can be found on Github at <%= link_to "https://github.com/levent/cosm_app-rb", "https://github.com/levent/cosm_app-rb" %><br>
It's a very basic example of using the <%= link_to "cosm-rb", "https://github.com/cosm/cosm-rb" %> gem.
</p>

<h2>Feed</h2>
<p>Visit the feed on Cosm: <%= link_to "https://cosm.com/feeds/#{@feed.id}", "https://cosm.com/feeds/#{@feed.id}" %></p>
<h3><code class="prettyprint">@feed.id</code> <%= @feed.id %></h3>
<h3><code class="prettyprint">@feed.title</code> <%= @feed.title %></h3>

<h2>Feed -> Datastreams</h2>
<ul>
<% @feed.datastreams.each do |ds| %>
  <li><%= ds.id %>: <%= ds.current_value %></li>
<% end %>
</ul>

<%= form_for @feed do |f| %>
  <%= f.label 'Update value', :for => 'current_value' %>
  <%= text_field_tag :current_value %>
  <%= f.submit "Send" %>
  <p><strong>This will update</strong> <%= link_to "https://cosm.com/feeds/#{@feed.id}", "https://cosm.com/feeds/#{@feed.id}" %></p>
<% end %>

<h2>Feed formats:</h2>
<h3>CSV:</h3>
<div>
  <code class="prettyprint">
    @feed.to_csv #=>
    <br>
    <%= @feed.to_csv %>
  </code>
</div>

<h3>JSON:</h3>
<div>
  <code class="prettyprint">
    @feed.to_json #=>
    <br>
    <%= @feed.to_json %>
  </code>
</div>

<h3>XML:</h3>
<div>
  <code class="prettyprint">
    @feed.to_xml #=>
    <br>
    <%= @feed.to_xml %>
  </code>
</div>

<p><%= link_to 'Start coding', 'https://github.com/levent/cosm_app-rb' %></p>
